.panel {
	height: 100vh;
	position: relative;
	
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		transition: opacity .6s;
		opacity: 0;
		box-shadow: 0 10px 30px 0 rgba(0,0,0,.6);
		width: auto;
		height: auto;
		max-height: 70vh;
		max-width: 70vw;
	}

    &.is-active img {
        opacity: 1;
    }
}