// =============================================
// Ratio
// =============================================

.u-ratio {
    position: relative;
	overflow: hidden;
    padding-top: 100%;
    display: block;
    background-size: cover;

    > * {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}


// =============================================
// Hidden
// =============================================

// .u-hidden {
//     visibility: hidden;
// }